body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: ivory;
}
nav.navbar {
  background-color: rgb(39, 39, 39) !important;
}

.cards-wrapper {
  gap: 80px 48px;
}